body {
    
}

.container {
    width: 30%;
    margin: 50px auto;
    background-color: rgb(172, 224, 94);
    padding: 25px;
}

.personal-details {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

fieldset {
    border: 2px solid #000;
}

.input-box {
    display: flex;
    justify-content: left;
    padding: 5px;
}

.output-box {
    text-align: center;
}

.output-box input {
    padding: 5px;
}